# Configurações do Backend do webServerDatabaseEditor

# Caminho absoluto ou relativo para o seu banco de dados de itens (item_db.yml)
# Exemplo Windows: X:\caminho\para\seu\item_db.yml
ITEM_DB_PATH=

# Caminho absoluto ou relativo para o arquivo GRF do client do jogo
# Exemplo Windows: X:\caminho\para\data.grf ou X:\caminho\para\data\ (pasta extraída da GRF)
GRF_PATH=

# Caminho para o System/iteminfo.lua do seu client
ITEMINFO_PATH=

# Origens permitidas do CORS separadas por vírgula (Exemplo: http://localhost:5173)
CORS_ORIGINS=